---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kool & the Bayern</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/bayern/">Bayern</a>

    <h1>My Bayern Blog</h1>
    <p>This is where I will post about my thoughts about FC Bayern and their matches.</p>
    <ul>
      <li><a href="/posts/bayern-260415/">Big match against Real Madrid in the Champions League</a></li>
    </ul>
  </body>
</html>
