---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Kool & the Web";
---

<BaseLayout pageTitle={pageTitle}>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
	<h3>
		Do you like <a href="boardgames">board games</a>?
	</h3>
</BaseLayout>
